* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    padding: 0 20px;
    background: rgb(68, 67, 122);
    background: linear-gradient(250deg, rgb(52, 253, 193) 0%, rgb(116, 189, 21) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-cart {
    text-decoration: none;
    color: #6b5770;
    font-size: 20px;
    background-image: linear-gradient(90deg, #63fd34, #bd151d);
    display: block;
    padding: 14px 30px;
    border: 5px solid black;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

.btn-cart:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -2;
    transition: .4s;
}

.btn-cart:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fff, #fff);
    z-index: -1;
    transition: .4s;
    border-radius: 4px;
}

.btn-cart:hover {
    color: #fff;
    transition: .3s;
}

.btn-cart:hover:after {
    background: linear-gradient(90deg, #57c75d, #075304);
}

.btn-cart:active:after {
    background: linear-gradient(90deg, #57c75d, #075304);
}

.btn-cart:focus-visible {
    box-shadow: 0 0 0 3px #030303;
}

main {
    padding: 20px calc(50% - 40%);
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}

.product-item {
    max-width: 400px;
    padding: 20px;
    border: 2px solid black;
}

.product-item__title {
    text-align: center;
    font-size: 45px;
    margin: 0 auto 20px;
}

.product-item__text {
    margin: 20px 0;
    font-size: 29px;
}

.product-item__price {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #1e4e86;
}

.product-item__btn {
    margin: 15px auto 0;
}